

//Main Menu Styling

// Remove right padding of main menu container
#main-menu-container {
	padding-right: 0px;
}

//Navbar Toggler Color
.navbar-dark .navbar-toggler {
	margin-right: 10px;
  background: #676767;
	&:hover {
		background: $insurance-primary;
	}
}

// Remove spacing from main menu
.navbar {
	margin: 0px;
	padding: 0px;
}

// Adjust Main Menu Logo Size
.navbar-brand {
	margin-left: 15px;
	img {
		height: auto;
		width: auto;
		max-height: 72px;
		max-width: 250px;
	}
}

// Coloring for Main Menu
#main-menu {

		@media screen and (min-width: 930px){
			li {
					width: 25%;
				a {
					line-height: 100px;
		    	height: 100px;
		    	padding-top: 0;
					margin-top: 0;
					border-left: solid;
					border-bottom: solid;
					border-width: .5px;
					border-color: #c2c5cc;
				}
			}
	}
		li:nth-child(1) {
				a {
			 		color: #000;
				 &:hover {
					 background-color: $insurance-primary;
					 color: #fff;
				 }
		 		}
			}
		li:nth-child(1).current-menu-item{
			 a {
				 background-color: $insurance-primary;
				 color: #fff;
			 }
		 }
		li:nth-child(2) {
				a {
			 color: #000;
			 &:hover {
				 background-color: $risk-primary;
				 color: #fff;
			 }
		 	}
		 }
		 li:nth-child(2).current-menu-item{
				a {
					background-color: $risk-primary;
					color: #fff;
				}
		 }

		 li:nth-child(3) {
				 a {
				color: #000;
				&:hover {
					background-color: $payroll-primary;
					color: #fff;
				}
			 }
			}
			li:nth-child(3).current-menu-item{
				 a {
					 background-color: $payroll-primary;
					 color: #fff;
				 }
			}

			li:nth-child(4) {
					a {
				 color: #000;
				 &:hover {
					 background-color: $human-resources-primary;
					 color: #fff;
				 }
				}
			 }
			 li:nth-child(4).current-menu-item{
					a {
						background-color: $human-resources-primary;
						color: #fff;
					}
			 }

			 li:nth-child(5) {
					 a {
					color: #000;
					&:hover {
						background-color: #676767;
						color: #fff;
					}
				 }
				}
				li:nth-child(5).current-menu-item{
					 a {
						 background-color: #676767;
						 color: #fff;
					 }
				}

				li:nth-child(n+6) {
						a {
							color: #000;
						 &:hover {
							 background-color: $insurance-primary;
							 color: #fff;
						 }
						}
					}
				li:nth-child(n+6).current-menu-item{
					 a {
						 background-color: $insurance-primary;
						 color: #fff;
					 }
				 }
}


/*
* ====================================
* Risk Template Styling
* ====================================
*/

//Risk Hero
#risk-header {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid #e14f42;
	min-height: 518px;

	.container-fluid {
		/* Sizing */
		height: 518px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			padding: 0;
			margin-left: 60px;

			h1 {
				font-size: 60px;
				color: $risk-primary;
				font-weight: 800;
			}

			p {
				font-size: 25px;
				color: white;
			}

			.btn {
				width: 520px;
				height: 78px;
				font-size: 40px;
				font-weight: 600px;
				border: 5px solid $risk-primary;
				border-radius: 0px;
				font-weight: 800px;
				color: #fff;


				&:focus {
					color: #fff;
					background-color: $risk-primary;
				}

				&:hover {
					color: #fff;
					background-color: $risk-primary;
				}
			}
		}
	}
}




// Risk content container
#risk-content-container {
	margin-top: 35px;
}

// Risk - Scale image for content in the content-right area
.risk-content-right img {
  width: 100%;
  height: auto;
}


#risk-footer {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 518px;

	.container-fluid {
		/* Sizing */
		height: 518px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			text-align: center;

			h1 {
				font-size: 60px;
				color: $risk-primary;
				font-weight: 800;
			}

			p {
				font-size: 25px;
				color: white;
			}

			.btn-danger {
				width: 520px;
				height: 78px;
				font-size: 40px;
				font-weight: 800px;
				border-radius: 0px;
				border: 5px solid;
				font-weight: 800px;
				background-color: $risk-primary;
				border-color: $risk-primary;


				&:focus {
					background-color: Transparent;
					border: 5px solid $risk-primary;
				}

				&:hover {
					background-color: Transparent;
					border: 5px solid $risk-primary;
				}
			}
		}
	}
}

/*
* ====================================
* Payroll Template Styling
* ====================================
*/

//Payroll Hero
#payroll-header {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid $payroll-primary;
	min-height: 518px;

	.container-fluid {
		/* Sizing */
		height: 518px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			padding: 0;
			margin-left: 60px;

			h1 {
				font-size: 60px;
				color: $payroll-primary;
				font-weight: 800;
			}

			p {
				font-size: 25px;
				color: white;
			}

			.btn {
				width: 520px;
				height: 78px;
				font-size: 40px;
				font-weight: 600px;
				border: 5px solid $payroll-primary;
				border-radius: 0px;
				font-weight: 800px;
				color: #fff;


				&:focus {
					color: #fff;
					background-color: $payroll-primary;
				}

				&:hover {
					color: #fff;
					background-color: $payroll-primary;
				}
			}
		}
	}
}




//Payroll content container
#payroll-content-container {
	margin-top: 35px;
}

// Payroll - Scale image for content in the content-right area
.payroll-content-right img {
  width: 100%;
  height: auto;
}


#payroll-footer {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 518px;

	.container-fluid {
		/* Sizing */
		height: 518px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			text-align: center;

			h1 {
				font-size: 60px;
				color: $payroll-primary;
				font-weight: 800;
			}

			p {
				font-size: 25px;
				color: white;
			}

			.btn-success {
				width: 520px;
				height: 78px;
				font-size: 40px;
				color: #fff;
				border-radius: 0px;
				border: 5px solid;
				background-color: $payroll-primary;
				border-color: $payroll-primary;


				&:focus {
					background-color: Transparent;
					border: 5px solid $payroll-primary;
				}

				&:hover {
					background-color: Transparent;
					border: 5px solid $payroll-primary;
				}
			}
		}
	}
}

/*
* ====================================
* Insurance Template Styling
* ====================================
*/

//insurance Hero
#insurance-header {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 8px solid $insurance-primary;
	min-height: 518px;

	.container-fluid {
		/* Sizing */
		height: 518px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			padding: 0;
			margin-left: 60px;

			h1 {
				font-size: 60px;
				color: $insurance-primary;
				font-weight: 800;
			}

			p {
				font-size: 25px;
				color: white;
			}

			.btn {
				width: 520px;
				height: 78px;
				font-size: 40px;
				font-weight: 600px;
				border: 5px solid $insurance-primary;
				border-radius: 0px;
				font-weight: 800px;
				color: #fff;


				&:focus {
					color: #fff;
					background-color: $insurance-primary;
				}

				&:hover {
					color: #fff;
					background-color: $insurance-primary;
				}
			}
		}
	}
}



//insurance content container
#insurance-content-container {
	margin-top: 35px;
}

// insurance - Scale image for content in the content-right area
.insurance-content-right img {
  width: 100%;
  height: auto;
}


#insurance-footer {
	margin: 0;
	padding: 0;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 518px;

	.container-fluid {
		/* Sizing */
		height: 518px;
		/* Flexbox stuff */
		display: flex;
		align-items: center;
		background-color: rgba(196, 196, 196, 0.9);

		.container {
			flex-direction: column;
			text-align: center;

			h1 {
				font-size: 60px;
				color: $insurance-primary;
				font-weight: 800;
			}

			p {
				font-size: 25px;
				color: white;
			}

			.btn-lg {
				width: 520px;
				height: 78px;
				font-size: 40px;
				color: #fff;
				border-radius: 0px;
				border: 5px solid;
				background-color: $insurance-primary;
				border-color: $insurance-primary;


				&:focus {
					background-color: Transparent;
					border: 5px solid $insurance-primary;
				}

				&:hover {
					background-color: Transparent;
					border: 5px solid $insurance-primary;
				}
			}
		}
	}
}


// Footer

#footer-before { // Blue Green section
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 100px;
	background-color: #136d7c;

	.footer-area {
		color: #fff;

		h4 {
			font-weight: 600;
		}

		ul {
			list-style: none;
			padding: 0;
			list-style-type: none;

			a {
				color: #fff;
			}
		}

		img {
			margin-top: 15px;
			max-height: 150px;
			width: auto;
		}
	}
}

#footer-after { // Gray "Site Info" Section
	background-color: #C0C0C0;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
	p {
		color: #fff;
		align-items: center;
	}

	a {
		margin: 5px;
		color: #136d7c;
	}
}

#footer-locations {
	display: flex;
	flex-wrap: wrap;
	margin-right: 200px;
	border: 1px solid #fff;

	.footer-area-three {
		padding: 10px;
		width: 50%;

		h4 {
			font-weight: 600;
		}

		a {
			color: #fff;
		}
	}
}
